.wrapper {
    margin: 15px auto;
    max-width: 700px;
  }
.container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: royalblue;
    color: white;
    border: 1px solid aliceblue;
    border-radius: 4px;
    padding: 5px 10px;
}
.table-calendar {
    border-collapse: collapse;
    width: 100%;
}
.table-calendar th,
.table-calendar td{
    padding: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}
.table-calendar th{
    background: aliceblue;
}

.date-picker.selected {
    font-weight: bold;
    color: #fff;
    background: greenyellow;
}


.date-picker.isEvent span {
    border-bottom: 2px solid currentColor;
    font-weight: bold;
}

/* 日曜 */
.date-picker:nth-child(1), #sun{
    color: red;
}
/* 土曜 */
.date-picker:nth-child(7), #sat {
    color: blue;
}
#monthAndYear {
    font-size: 28px;
    text-align: left;
    margin-top: 0;
}

#month_eng {
    color: gray;
    font-size: 18px;
}
.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
    text-align: center;
}
#previous {
    float: left;
}

#thisMonth {
    font-weight: bold;
}

#next {
    float: right;
}
.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}
.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #454545;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.event {
    color: white;
    font-weight: normal;
    position:absolute;
    visibility:hidden; 
    font-size:0.8em; 
    background-color:mediumseagreen;
    border-radius: 6px;
    padding: 5px 1em;
}

.modeChange-container span {
    font-weight: bold;
}

.toViewMode-Button span {
    color: rgb(255, 0, 0);
}